.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f3136;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid #202225;
    height: 60px;
    box-sizing: border-box;
}

.chat-header span {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
